@import './variables';

.block-201 {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	display: block;
	width: 100%;
	height: 270px;
}
.entry{
	overflow: hidden;
	// @include media-breakpoint-up(md){
	// 	margin-bottom: 30px;
	// }
	// @include media-breakpoint-down(sm){
	// 	margin-bottom: 30px;
	// }
	.text {
        position: relative;
        text-align: start;
		.heading {
			font-size: 18px;
			margin-bottom: 16px;
			font-weight: 400;
			a {
				color: $white;
				&:hover, &:focus, &:active {
					color: $primary;
				}
			}
		}
	}
	.meta {
		> div {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 0;
            font-size: 14px;
			a {
				color: lighten($black, 50%);
				font-size: 15px;
				&:hover {
					color: lighten($black, 40%);
				}
			}
		}
	}
}

.pagination-block {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 70px 0;

	ul {
		li {
			margin: 0 3px;
			border-radius: 50%;
			user-select: none;

			a {
				color: $primary !important;
				text-align: center;
				// display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 24px;
				border-radius: 50% !important;
				border: 1px solid $secondary;
				background: transparent;
				padding-bottom: 8px;
				user-select: none;

				&:hover {
					color: #fff !important;
					background-color: $primary;
					border-color: $secondary;
				}
			}
		}

		.page-item.active .page-link {
			z-index: 1;
			color: #fff;
			background-color: $primary;
			border-color: $secondary;
			width: 40px;
			height: 40px;
			border-radius: 50% !important;
			line-height: 24px;
		}
	}
}