@import "variables";

// .ftco-navbar-light {
//     background: $darken !important;
//     z-index: 3;
//     // @include media-breakpoint-down(md) {
//     // 	background: $black!important;
//     // 	position: relative;
//     // }

//     // .header-container{
//     //     width: 100%;
//     //     display: flex;
//     //     justify-content: space-between;

//     //     .logo-container {
//     //         display: flex;
//     //         flex-direction: row !important;

//     //         .brand-container {
//     //             display: flex;
//     //             flex-direction: column !important;
//     //         }
//     //     }
//     // }

//     // .navbar-brand {
//     //     color: $white;
//     //     font-family: $font-secondary;
//     //     // @include media-breakpoint-up(md){
//     //     // 	color: $white;
//     //     // }
//     // }

//     // .navbar-nav {
//     // 	> .nav-item {
//     // 		> .nav-link {
//     // 			font-size: 14px;
//     // 			padding-top: .9rem;
//     // 			padding-bottom: .9rem;
//     // 			padding-left: 0;
//     // 			padding-right: 0;
//     // 			color: rgba(255,255,255,.9);
//     // 			font-weight: 400;
//     // 			@include media-breakpoint-up(md){
//     // 				padding-top: 1.5rem;
//     // 				padding-bottom: 1.5rem;
//     // 				padding-left: 20px;
//     // 				padding-right: 20px;
//     // 				color: rgba(255,255,255,.7);
//     // 			}
//     // 			&:hover {
//     // 				color: $primary;
//     // 			}
//     // 			opacity: 1!important;
//     // 		}

//     // 		.dropdown-menu{
//     // 			border: none;
//     // 			background: $white;
//     // 			-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
//     // 			-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
//     // 			box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
//     // 		}


//     // 		&.ftco-seperator {
//     // 			position: relative;
//     // 			margin-left: 20px;
//     // 			padding-left: 20px;
//     // 			// @include media-breakpoint-down(md) {
//     // 			// 	padding-left: 0;
//     // 			// 	margin-left: 0;
//     // 			// }
//     // 			&:before {
//     // 				position: absolute;
//     // 				content: "";
//     // 				top: 10px;
//     // 				bottom: 10px;
//     // 				left: 0;
//     // 				width: 2px;
//     // 				background: rgba($white, .05);
//     // 				@include media-breakpoint-down(md) {
//     // 					display: none;
//     // 				}
//     // 			}
//     // 		}
//     // 		&.cta {
//     // 			@include media-breakpoint-down(sm){
//     // 				margin-bottom: 20px;
//     // 			}
//     // 			> a {
//     // 				color: $white;
//     // 				border: 1px solid $primary;
//     // 				background: $primary;
//     // 				padding-top: .5rem;
//     // 				padding-bottom: .5rem;
//     // 				padding-left: 20px;
//     // 				padding-right: 20px;
//     // 				margin-top: 4px;
//     // 				@include border-radius(30px);
//     // 				span {
//     // 					display: inline-block;
//     // 					color: $white;
//     // 				}
//     // 				&:hover{
//     // 					background: $primary;
//     // 					border: 1px solid $primary;
//     // 				}
//     // 			}
//     // 			&.cta-colored {
//     // 				span {
//     // 					border-color: $primary;
//     // 				}
//     // 			}
//     // 		}
//     // 		&.active {
//     // 			> a {
//     // 				color: $primary;
//     // 			}
//     // 		}
//     // 	}
//     // }
//     .navbar-toggler {
//         border: none;
//         color: rgba(255, 255, 255, .8) !important;
//         cursor: pointer;
//         padding-right: 0;
//         text-transform: uppercase;
//         font-size: 16px;
//         letter-spacing: .1em;
//     }

//     &.scrolled {
//         position: fixed;
//         right: 0;
//         left: 0;
//         top: 0;
//         margin-top: -130px;
//         background: $darken !important;
//         box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

//         .nav-item {
//             >.nav-link {
//                 color: $white !important;
//             }

//             &.active {
//                 >a {
//                     color: $primary !important;
//                 }
//             }

//             &.cta {
//                 >a {
//                     color: $white !important;
//                     background: $primary;
//                     border: none !important;
//                     padding-top: .5rem !important;
//                     padding-bottom: .5rem !important;
//                     padding-left: 20px;
//                     padding-right: 20px;
//                     margin-top: 6px !important;
//                     // @include media-breakpoint-down(sm) {
//                     //     span {
//                     // 	display: inline-block;
//                     // 	color: $white !important;
//                     // }
//                 }

//                 &.cta-colored {
//                     span {
//                         border-color: $primary;
//                     }
//                 }
//             }
//         }

//         .navbar-nav {
//             // @include media-breakpoint-down(md) {
//             //     background: none;
//             // // 	border-radius: 0px;
//             // // 	padding-left: 0rem!important;
//             // // 	padding-right: 0rem!important;
//             // }
//         }

//         .navbar-nav {
//             // @include media-breakpoint-down(sm) {
//             //     background: none;
//             // 	padding-left: 0!important;
//             // 	padding-right: 0!important;
//             // }
//         }

//         .navbar-toggler {
//             border: none;
//             color: rgba(255, 255, 255, .8) !important;
//             border-color: rgba(0, 0, 0, .5) !important;
//             cursor: pointer;
//             padding-right: 0;
//             text-transform: uppercase;
//             font-size: 16px;
//             letter-spacing: .1em;
//         }

//         .nav-link {
//             padding-top: .9rem !important;
//             padding-bottom: .9rem !important;
//             color: $black !important;

//             &.active {
//                 color: $primary !important;
//             }
//         }

//         &.awake {
//             margin-top: 0px;
//             transition: .3s all ease-out;
//         }

//         &.sleep {
//             transition: .3s all ease-out;
//         }

//         .navbar-brand {
//             color: $white;
//         }
//     }
// }

// .navbar-nav {
//     .nav-item {
.nav-link {
    font-size: 14px;
    // padding-top: .9rem;
    // padding-bottom: .9rem;
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, .9) !important;
    font-weight: 400;

    // @include media-breakpoint-up(md){
    //     padding-top: 1.5rem;
    //     padding-bottom: 1.5rem;
    //     padding-left: 20px;
    //     padding-right: 20px;
    //     color: rgba(255,255,255,.7);
    // }
    &:hover {
        color: $primary !important;
    }

    &.active {
        color: $primary;
    }

    opacity: 1 !important;
}

.active {
    .nav-link {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
        color: $primary !important;
        font-weight: 400;
    }
}

.navbar-toggler-icon {
    border-color: rgba(255, 255, 255, .9) !important;
}


// .dropdown-menu{
//     border: none;
//     background: $white;
//     -webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
//     -moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
//     box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
// }


// &.ftco-seperator {
//     position: relative;
//     margin-left: 20px;
//     padding-left: 20px;
//     // @include media-breakpoint-down(md) {
//     // 	padding-left: 0;
//     // 	margin-left: 0;
//     // }
//     &:before {
//         position: absolute;
//         content: "";
//         top: 10px;
//         bottom: 10px;
//         left: 0;
//         width: 2px;
//         background: rgba($white, .05);
//         @include media-breakpoint-down(md) {
//             display: none;
//         }
//     }
// }
// &.cta {
//     @include media-breakpoint-down(sm){
//         margin-bottom: 20px;
//     }
//     > a {
//         color: $white;
//         border: 1px solid $primary;
//         background: $primary;
//         padding-top: .5rem;
//         padding-bottom: .5rem;
//         padding-left: 20px;
//         padding-right: 20px;
//         margin-top: 4px;
//         @include border-radius(30px);
//         span {
//             display: inline-block;
//             color: $white;
//         }
//         &:hover{
//             background: $primary;
//             border: 1px solid $primary;
//         }
//     }
//     &.cta-colored {
//         span {
//             border-color: $primary;
//         }
//     }
// }

//     }
// }

