@import './variables';

.staff{
	padding: 25px;
	bordeR: 1px solid darken($primary,50%);
	@include border-radius(4px);
	@include transition(.3s);
	// @include media-breakpoint-down(sm){
	// 	margin-bottom: 30px;
	// }
	.info{
		width: 100%;
		h3{
			font-size: 15px;
			text-transform: uppercase;
			a{
				color: $primary;
			}
		}
		span.position{
			display: block;
			margin-bottom: 15px;
			font-size: 12px;
			font-weight: 400;
			color: lighten($black,80%);
		}
	}
	.img{
		width: 140px;
		height: 140px;
		border: 1px solid darken($primary,40%);
		margin: 0 auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		@include border-radius(50%);
		@include transition(.3s);
	}
	.text{
		p{
		}
	}
	&:hover, &:focus{
		-webkit-box-shadow: 0px 3px 66px -24px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 3px 66px -24px rgba(0,0,0,0.2);
		box-shadow: 0px 3px 66px -24px rgba(0,0,0,0.2);
		border: 1px solid $primary;
		.img{
			border: 1px solid $primary;
		}
	}
}